clay_src/CLAY_mexico_thesis/CLAY_Inference_Project/embedding_extract/data/data_prep/raw_data/inegi_csvs/iter_00_cpv2010.csv filter=lfs diff=lfs merge=lfs -text
clay_src/CLAY_mexico_thesis/CLAY_Inference_Project/embedding_extract/data/all_mexico_merged_2020.shp filter=lfs diff=lfs merge=lfs -text
alphaearth_src/data/embeddings/00_all_mexico_embeddings_combined.csv filter=lfs diff=lfs merge=lfs -text
alphaearth_src/data/raw/all_mexico_loc_2020.csv filter=lfs diff=lfs merge=lfs -text
alphaearth_src/data/geospatial/shps/complete/00a.shp filter=lfs diff=lfs merge=lfs -text
alphaearth_src/data/geospatial/all_mexico_merged_2020.shp filter=lfs diff=lfs merge=lfs -text
clay_src/CLAY_mexico_thesis/CLAY_Inference_Project/embedding_extract/data/data_prep/raw_data/inegi_csvs/resultados_ageb_urbana_15_cpv2010.csv filter=lfs diff=lfs merge=lfs -text
clay_src/CLAY_mexico_thesis/CLAY_Inference_Project/embedding_extract/data/all_mexico_merged_2020.dbf filter=lfs diff=lfs merge=lfs -text
alphaearth_src/data/raw/30_ageb_2020.csv filter=lfs diff=lfs merge=lfs -text
alphaearth_src/data/geospatial/shps/complete/00l.shp filter=lfs diff=lfs merge=lfs -text
alphaearth_src/data/geospatial/all_mexico_merged_2020.dbf filter=lfs diff=lfs merge=lfs -text
clay_src/CLAY_mexico_thesis/CLAY_Inference_Project/embedding_extract/data/all_mexico_merged_2010.shp filter=lfs diff=lfs merge=lfs -text
clay_src/CLAY_mexico_thesis/CLAY_Inference_Project/embedding_extract/data/data_prep/raw_data/inegi_shps/AGEB_urb_2010_5.shp filter=lfs diff=lfs merge=lfs -text
clay_src/CLAY_mexico_thesis/CLAY_Inference_Project/embedding_extract/data/data_prep/processed_data/all_mexico_merged_2010.shp filter=lfs diff=lfs merge=lfs -text
deliverables/report/figs/polygon_density_map.pdf filter=lfs diff=lfs merge=lfs -text
alphaearth_src/data/raw/14_ageb_2020.csv filter=lfs diff=lfs merge=lfs -text
alphaearth_src/data/raw/15_ageb_2020.csv filter=lfs diff=lfs merge=lfs -text
alphaearth_src/data/geospatial/all_mexico_merged_2020.zip filter=lfs diff=lfs merge=lfs -text
